@charset "UTF-8";
header {
    width: 100px;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    background: #25b99a;
    background-bottom-right-radius: 10px;
    background-bottom-right-radius: 10px;
    

}